<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="AccountManager" value="BankOfSuccessCS.Business.Core.AccountManager" />
		<add key="PrivilegeManager" value="BankOfSuccessCS.Business.Core.PrivilegeManager" />
		<add key="TransactionManager" value="BankOfSuccessCS.Business.Core.TransactionManager" />
		<add key="LogManager" value="BankOfSuccessCS.Business.Logging.LogManager" />
		<add key="TransactionLogPath" value="C:\users\Admin\desktop\Transactionlog.txt" />
		<add key="ErrorLogPath" value="C:\users\Admin\desktop\Errorlog.txt" />
		<add key="MailId" value="banksucesss123@gmail.com" />
		<add key="Password" value="rylonbqxihhbyxro" />
		<add key="AccountSid" value="AC1a3993bd5a7dbec5f9a90d19d3bb45d0" />
		<add key="AuthToken" value="2826634ce79290b96dd04578fc45dc19" />
		<add key="SenderNo" value="+19288822523" />
		<add key="ReceiverNo" value="+918709794734" />
		<add key="CardManager" value="BankOfSuccessCs.Business.Core.DebitCardManager"/>

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>