<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Teen Age" value="1,16" />
		<add key="Young Age" value="17,30" />
		<add key="Mild Age" value="31,50" />
		<add key="Old Age" value="51,60" />
		<add key="Senior Citizens Age" value="61,100" />
		<add key="DataLoader" value="AIRecommendation.DataLoader.CSVDataLoader" />
	</appSettings>
</configuration>